<div class="container-fluid" style="background-color:#eeeeee">

			<div class="row">
				<div class="col-sm-4 col-md-4 menu">
					<center>
						<h3>Contact Us</h3>
								<div style="font-size:18px;">
									<i class="fa fa-map-marker"></i>&nbsp;&nbsp; 21 Revolution Street Paris, France
								</div>

								<div style="font-size:18px;">
									<i class="fa fa-phone"></i>&nbsp;&nbsp;+1 555 123456
								</div>

							<div style="font-size:18px;">
								<i class="fa fa-envelope" ></i> <a href="mailto:support@company.com">&nbsp;&nbsp;support@company.com</a>
							</div>

					</center>
				</div>
				<div class="col-sm-4 col-md-4 menu">
					<center>
					<h3>About Us</h3>
							<div style="font-size:17px;">
								This website brings all updates about Technology and various Computer Science Engineering related tips and tricks.
							</div>
							<div style="font-size:18px;">
							<!--	<a href="#">Meet Our Team</a> -->
							</div>
					</center>
				</div>
				<div class="col-sm-4 col-md-4 menu">
					<div style="padding-top:20px; text-align:center">
						<h3>Admin</h3>
							<a href="#">
								<%= image_tag("user.png",size: "50x50") %>
							</a>
					</div>
				</div>
			</div>



			<div class="row">
					<center>
						Copyright © 2014. React
					</center>
			</div>

	</div>
